@use '../../theme';

#headerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 3px solid theme.$header-outline;
  border-radius: 0.5rem;
}

#logoWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-left: 3%;
  // padding: 3% 3% 3% 6%;

  img {
    max-height: 11rem;
  }

  img.classic {
    width: 60%;
    min-width: 8rem;
    max-width: 14rem;
  }

  // Logo image for alternate game mode
  img.alternate {
    width: 40%;
    min-width: 7rem;
    max-width: 11rem;
    padding-left: 6%;
  }
}

#scorecardWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 1rem 3% 1rem 0;

  section#scorecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding: 1rem;

    width: 60%;
    min-width: 8rem;
    max-width: 14rem;

    background-color: white;
    border-radius: 0.5rem;

    span#scorecardTitle {
      color: theme.$scorecard-title-color;
      font-size: 1.1rem;
      letter-spacing: 2px;
    }

    span#scorecardScore {
      color: rgba(theme.$dark-text, 0.9);
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
    }
  }

}

@media screen and (min-width: 1000px) {
  #headerWrapper {
    border-radius: 1.5rem;
  }

  #logoWrapper {
    img {
      max-height: 13rem;
    }

    img.classic {
      max-width: 17rem;
    }

    // Logo image for alternate game mode
    img.alternate {
      max-width: 12rem;
      padding-left: 0;
    }
  }

  #scorecardWrapper {
    section#scorecard {
      border-radius: 1rem;

      span#scorecardTitle {
        font-size: 1.7rem;
      }

      span#scorecardScore {
        font-size: 6.5rem;
        font-weight: 700;
      }
    }

  }
}
