@use '../../theme';

#headerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 3px solid theme.$header-outline;
  border-radius: 0.5rem;
}

#logoWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-left: 6%;

  img {
    flex: 0 1 60%;
    display: block;
    min-width: 8rem;
    max-height: 90%;
  }
}

#scorecardWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 3%;

  section#scorecard {
    display: flex;
    flex: 0 1 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    height: 100%;
    padding: 1rem;

    background-color: white;
    border-radius: 0.5rem;

    span#scorecardTitle {
      color: theme.$scorecard-title-color;
      font-size: 1.1rem;
      letter-spacing: 2px;
    }

    span#scorecardScore {
      color: rgba(theme.$dark-text, 0.9);
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
    }
  }

}

@media screen and (min-width: 1000px) {
  #headerWrapper {
    border-radius: 1.5rem;
  }

  #scorecardWrapper {
    section#scorecard {
      border-radius: 1rem;

      span#scorecardTitle {
        font-size: 1.7rem;
      }

      span#scorecardScore {
        font-size: 6.5rem;
        font-weight: 700;
      }
    }

  }
}
