@use '../../theme';

#gameWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

app-game-token {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 34%;
  padding-top: min(13rem, 34%);
  max-width: 13rem;
  z-index: 2;

  transition: all 500ms ease-in-out;
}

app-game-token.winner {
  z-index: 5;
}

app-game-token.loser {
  z-index: 10;

}

#selectionDial.classicMode {
  img#selectionDialBackground {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20rem;
  }

  app-game-token.rock {
    transform: translate(-50%, -100%);
  }

  app-game-token.paper {
    transform: translate(-120%, -220%);
  }

  app-game-token.scissors {
    transform: translate(20%, -220%);
  }

  app-game-token.hidden {
    opacity: 0;
    pointer-events: none;
  }

  app-game-token.selected {
    pointer-events: none;
    transform: translate(-50%, -170%);
    z-index: 5;
  }

  app-game-token.selected.choiceDisplay {
    transform: translate(-120%, -220%);
  }
}

#choiceDisplay {
  width: 100%;

  #computerChoiceBackground {
    opacity: 0;
    transition: opacity 500ms linear;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 11rem;
    height: 11rem;

    border-radius: 50%;
    background-color: rgba($color: black, $alpha: 0.2);
    transform: translate(35%, -133%);
  }

  #computerChoiceBackground.visible {
    opacity: 1;
  }

  app-game-token#computerToken {
    pointer-events: none;
    opacity: 0;
    transform: translate(20%, -220%);
    z-index: 1;
  }

  app-game-token#computerToken.visible {
    opacity: 1;
  }

  #choiceLabels {
    opacity: 0;

    div {
      position: absolute;
      left: 50%;
      top: 50%;
      color: white;

      letter-spacing: 2px;
      font-size: 1.4rem;
    }

    #youPicked {
      transform: translateX(-154%);
    }

    #housePicked {
      transform: translateX(19%);
    }

    transition: opacity 500ms linear;
  }

  #choiceLabels.visible {
    opacity: 1;
  }
}

#resultsDisplay {
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  text-align: center;

  #resultMessage {
    margin-bottom: 1.5rem;
    color: white;
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  button {
    cursor: pointer;
    padding: 1.5rem 6rem;

    color: theme.$dark-text;
    background-color: white;
    border: none;
    border-radius: 1rem;
    font-family: theme.$font-stack;
    font-size: 1.6rem;
    letter-spacing: 2px;
  }
}


//// Wider screen styles //////////////////////////////////////////////

@media screen and (min-width: 1000px) {
  app-game-token {
    max-width: 20rem;
    padding-top: min(20rem, 34%);
  }

  #selectionDial.classicMode {
    img#selectionDialBackground {
      width: 32rem;
    }
  }
}
