@use '../../theme';

#gameWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

app-game-token {
  // In mobile Chrome, remove the blue box around an element when it is tapped
  -webkit-tap-highlight-color: transparent;

  // disable pointer events, the game token component overrides this internally
  // and allows the event to bubble up. If this is not done, we end up with
  // clickable whitespace, which is no bueno.
  pointer-events: none;
  cursor: pointer;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35%;
  padding-top: min(13rem, 35%);
  max-width: 13rem;
  z-index: 2;

  transition: all 500ms ease-in-out;
}

app-game-token:focus,
app-game-token:active {
  outline: none !important;
}

app-game-token.winner {
  z-index: 5;
}

app-game-token.loser {
  z-index: 10;
}

//// Rock Paper Scissors /////////////////////////////////////////////

#selectionDial.classicMode {

  img#selectionDialBackground {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20rem;
  }

  app-game-token.rock {
    transform: translate(-50%, -100%);
  }

  app-game-token.paper {
    transform: translate(-120%, -220%);
  }

  app-game-token.scissors {
    transform: translate(20%, -220%);
  }

  app-game-token.hidden {
    opacity: 0;
    pointer-events: none;
  }

  app-game-token.selected {
    pointer-events: none;
    transform: translate(-50%, -170%);
    z-index: 5;
  }

  app-game-token.selected.choiceDisplay {
    transform: translate(-120%, -220%);
  }
}

//// Rock Paper Scissors Lizard Spock ///////////////////////////////////////

#selectionDial.alternateMode {
  app-game-token {
    pointer-events: none;
    max-width: 10rem;
    padding-top: min(10rem, 35%);
  }

  img#selectionDialBackground {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20rem;
  }

  app-game-token.rock {
    transform: translate(15%, -50%);
  }

  app-game-token.paper {
    transform: translate(60%, -175%);
  }

  app-game-token.scissors {
    transform: translate(-50%, -260%);
  }

  app-game-token.lizard {
    transform: translate(-115%, -50%);
  }

  app-game-token.spock {
    transform: translate(-160%, -175%);
  }

  app-game-token.hidden {
    opacity: 0;
    pointer-events: none;
  }

  app-game-token.selected {
    pointer-events: none;
    transform: translate(-50%, -170%);
    z-index: 5;
    width: 35%;
    padding-top: min(13rem, 35%);
    max-width: 13rem;
  }

  app-game-token.selected.choiceDisplay {
    transform: translate(-120%, -220%);
  }
}

#choiceDisplay {
  width: 100%;

  #computerChoiceBackground {
    opacity: 0;
    transition: opacity 500ms linear;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 11rem;
    height: 11rem;

    border-radius: 50%;
    background-color: rgba($color: black, $alpha: 0.2);
    transform: translate(35%, -133%);
  }

  #computerChoiceBackground.visible {
    opacity: 1;
  }

  app-game-token#computerToken {
    cursor: default;
    pointer-events: none;
    opacity: 0;
    transform: translate(20%, -220%);
    z-index: 1;
  }

  app-game-token#computerToken.visible {
    opacity: 1;
  }

  #choiceLabels {
    opacity: 0;

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;

      letter-spacing: 2px;
      font-size: 1.4rem;
    }

    #youPicked {
      transform: translateX(-154%);
    }

    #housePicked {
      transform: translateX(16%);
    }

    transition: opacity 500ms linear;
  }

  #choiceLabels.visible {
    opacity: 1;
  }
}

#resultsDisplay {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  text-align: center;

  transition: opacity 500ms ease-in-out;

  #resultMessage {
    margin-bottom: 1.5rem;
    color: white;
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  button {
    cursor: pointer;
    padding: 1.5rem 6rem;

    color: theme.$dark-text;
    background-color: white;
    border: none;
    border-radius: 1rem;
    font-family: theme.$font-stack;
    font-size: 1.6rem;
    letter-spacing: 2px;
  }

  button:hover {
    color: theme.$results-button-hover-text;
  }
}

#resultsDisplay.showResults {
  opacity: 1;
}


//// Wider screen styles //////////////////////////////////////////////

@media screen and (min-width: 1000px) {
  app-game-token {
    max-width: 20rem;
    padding-top: min(20rem, 34%);
  }

  //// Rock Paper Scissors ///////////////////////////////////////////////

  #selectionDial.classicMode {
    img#selectionDialBackground {
      width: 32rem;
    }

    app-game-token.selected.choiceDisplay {
      transform: translate(-150%, -190%) scale(1.5, 1.5);
    }

    app-game-token.selected.choiceDisplay.winner,
    app-game-token.selected.choiceDisplay.loser {
      transform: translate(-220%, -190%) scale(1.5, 1.5);
    }
  }

  //// Rock Paper Scissors Lizard Spock ///////////////////////////////////////////

  #selectionDial.alternateMode {
    img#selectionDialBackground {
      width: 32rem;
    }

    app-game-token {
      max-width: 15rem;
      padding-top: min(15rem, 34%);
    }

    app-game-token.selected {
      max-width: 20rem;
      padding-top: min(20rem, 34%);
    }

    app-game-token.selected.choiceDisplay {
      transform: translate(-150%, -190%) scale(1.5, 1.5);
    }

    app-game-token.selected.choiceDisplay.winner,
    app-game-token.selected.choiceDisplay.loser {
      transform: translate(-220%, -190%) scale(1.5, 1.5);
    }
  }

  /////////////////////////////////////////////////////////////////////////////////

  #choiceDisplay {
    #computerChoiceBackground {
      transform: translate(136%, -28%) scale(2, 2);
    }

    app-game-token#computerToken {
      transform: translate(52%, -190%) scale(1.5, 1.5);
    }

    app-game-token#computerToken.winner,
    app-game-token#computerToken.loser {
      transform: translate(122%, -190%) scale(1.5, 1.5);
    }


    #choiceLabels {
      div {
        top: 4%;

        font-size: 2.5rem;
        transition: transform 500ms ease-in-out;
      }

      #youPicked {
        transform: translateX(-195%);
      }

      #youPicked.resultDisplay {
        transform: translateX(-296%);
      }

      #housePicked {
        transform: translateX(43%);
      }

      #housePicked.resultDisplay {
        transform: translateX(106%);
      }
    }
  }

  #resultsDisplay {
    bottom: calc(31% + 2rem);

    #resultMessage {}

    button {}
  }
}
