#appWrapper {
  display: grid;
  justify-content: center;
  grid-template-rows: 0fr 1fr 0fr 0fr;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  padding: 3rem;
  z-index: 1;
  text-align: center;

  app-header {
    display: block;
  }
}

main {
  position: relative;
  z-index: 1;

  app-game {
    display: block;
    height: 100%;
  }
}

section#appRules {
  padding: 3rem 0;
  z-index: 5;

  app-rules {
    display: block;
  }
}

footer {
  position: relative;
  padding: 1rem;
  z-index: 1;

  color: white;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}


//// wide screen layout ////////////////////////////////////////////////////

@media screen and (min-width: 1000px) {
  #appWrapper {
    grid-template-rows: 0fr 1fr 0fr;
  }

  header {
    display: flex;
    justify-content: center;

    app-header {
      width: 57%;
      height: 16rem;
    }
  }

  section#appRules {
    position: absolute;
    right: 3rem;
    bottom: 0;
  }
}
