@use './theme';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // Set document-wide 'rem' value
  font-size: 10px;
  background-image: theme.$app-background;
}

body {
  position: relative;
  max-width: 1550px;
  margin: 0 auto;

  // Set body font-size back to usual default
  font-size: 16px;
  font-family: theme.$font-stack;
}

////////////////////////////////////////////////////////////////////////

app-root {
  display: block;
  height: 100vh;
  width: 100%;
}
